html {
  --primary: "black";
}
.App {
  min-height: 100vh;
}

.MuiButton-root:hover {
  background-color: #3c4ba2 !important;
  color: white !important;
}
.active:hover {
  color: white !important;
}
.active>button{
  background-color: #3c4ba2 !important;
  color: white !important;
}
#changecursor{
  cursor: pointer;
}